@page
@model IndexModel
@{
    ViewData["Title"] = "Chat";
}

<div class="container info_chat" style="display:none;">
    <div class="chats">
        @(Html.Hidden(IndexModel.SignalRUrl, ViewData[IndexModel.SignalRUrl]))
        <header>
            <div class="userAvatar">
            </div>
            <button id="addNewGroup" onclick="createChatRoom()">New Chatroom</button>
        </header>
        <div class="rooms">
        </div>
    </div>
    <div class="chats_wrapper">
    </div>
</div>
